html, body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
    
  }
  *, *:before, *:after {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
  }
  main {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 26px;
    width: 100%;
    height: 100%;
    background: #FFFBF1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 );
    touch-action: manipulation;
  }
  h1 {
    display: block;
    margin: 0 auto 25px auto;
    text-align: center;
    font-size: 1.92em;
    font-weight: 600;
    letter-spacing: -0.055em;
    touch-action: manipulation;
  }
  h2 {
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: -0.015em;
    touch-action: manipulation;
  }
  .container {
    position: relative;
    margin: calc(75px + 2vh + 2vw) auto 0 auto;
    background-color:#FBC252;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 540px;
    touch-action: manipulation;
  }

  .container2 {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 540px;
    touch-action: manipulation;
  }
  .search-box {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 60px;
    border-radius: 120px;
    margin: 0 auto;
    touch-action: manipulation;
  }
  

  .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    touch-action: manipulation;
    }
    
    form.form1 {
        padding-top: 40px;
        touch-action: manipulation;
    }


    
    .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    touch-action: manipulation;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: rgb(88, 88, 88);
        background: linear-gradient(to right, #f6f66a, #F5B11D);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Montserrat Alternates', sans-serif;
        justify-content: center;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        touch-action: manipulation;
    }
    
    .square-content {
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      color: #ffffff;
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: bold;
      font-size: 35px;
      touch-action: manipulation;
      
      
  }
  
    

  .btn-Search  {
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #9C27B0, #E040FB);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Montserrat Alternates', sans-serif;
      margin-left: 15%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      touch-action: manipulation;
  }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #c2e7be;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        
      }

     
  
      button {
        padding: 10px 40px;
        font-size: 14px;
        background-color: #F5B11D;
        font-family: 'Ubuntu', sans-serif;
        color: #ffffff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin: 0 auto;
        display: block;
        
        
        
      }
      
      button:hover {
        background-color: #cb4c25be;
      }
  
      #selectedName {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 33px;
        font-weight: 700;
        font-family: 'Montserrat Alternates', sans-serif;
        text-align: center;
      }
  
      #selectedName a {
        color: #ffffff;
        text-decoration: none;
      }
  
      #selectedName a:hover {
        text-decoration: underline;
      }



      .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        visibility: hidden;
      }
      
      .popup-content {
        background-color: #ffffff;
        color: #1e1e1e;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
      }
      
      .popup-content h2 {
        margin-top: 0;
        font-weight: 600;
      }
      
      .popup-content button {
        margin-top: 10px;
      }


      ol {
        padding: 10px;
        margin: 0;
        max-width: 700px;
        position: relative;
      }
      
      ol::before {
        content: '';
        width: 0.5rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 8%;
        background: #F6EEE3;
        z-index: -1;
      }
      
      li {
        padding: 1rem 2rem 1rem;
        border-radius: .5rem;
        background: #F6EEE3;
      }
      
      li + li {
        margin-top: 1rem;
      }
      
      ::marker {
        font-weight: 600;
        color: rgba(255, 99, 71, 0);
        font-size: 1.8rem;
      }
      
      
      

